<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <a href="/signout"><button>signout</button></a>

    <form method='post' action='/add_post'>
        <h3>Write a tweet!</h3>
        <div>
            <label>What's your question?</label>
            <input type="text" name="question" maxlength="30">
        </div>
        <div>
            <label>Elaborate :)</label>
            <input type="text" name="description" maxlength="280">
        </div>

        <div>
            <input type="submit"/>
        </div>


    </form>

    <a href="/walldemo"><button>wall</button></a>

</body>
</html>