<!doctype html>
<html lang="en">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{url_for('static', filename='css/stylee.css')}}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<h2 class="heading-section">Signing up</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Make an account right now!</h3>

		      	<form action="/signup" class="signin-form" method='post'>
		      		<div class="form-group">
						<input type="email" name="email" class="form-control" placeholder="Email" required>
		      		</div>
	            <div class="form-group">
					<input id="password-field" type="password" name="password" class="form-control" placeholder="Password" minlength="6" required>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Continue</button>
	            </div>

	          </form>
	          <p class="w-100 text-center">&mdash; Don't have an account? &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="/signin" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>Log in</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="url_for('static', filename = 'js/jquery.min.js')"></script>
	<script src="url_for('static', filename = 'js/popper.js')"></script>
	<script src="url_for('static', filename = 'js/bootstrap.min.js')"></script>
	<script src="url_for('static', filename = 'js/main.js')"></script>


	</body>
</html>

